<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a href="/home" class="brand">Idea Blog</a>
      
    <!--   <ul class="nav pull-left">
        <li>
          <p>Search: <input ng-model="query"></p>
        </li>
      </ul> -->
      
      <ul class="nav pull-right">
        <li>
          <a ng-click="logout()">Logout</a>
        </li>
        <li><a>{{user}}</a> <!-- this will become a link to the user home -->
        </li>
        <li>
        </li>
      </ul>
    
    </div>
  </div>
</div>
<div class="container">


<div class="container">
  <form>
    <legend>{{mode}} Article</legend>
    <div class="control-group">
      <label class="control-label">Title</label>
      <div class="controls">
        <input class="span10 title" type="text" ng-model="article.title" required>
        <div>{{article.slug}}</div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Body</label>
      <div class="help-block">Separate Leader from rest of body using the <code>&lt;!-- more --&gt;</code> element</div>
      <div class="controls">
        <textarea class="body" ui-codemirror="{theme: 'monokai', mode: 'markdown'}" 
          ng-model="article.body"></textarea>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"></label>
      <!-- list attachments doc name should be slug... -->
      <div class="controls">
        <input class="invisible" type="text" ui-date ng-model="article.publishedAt">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Tags</label>
      <div class="controls">
        <input type="text" ng-model="article.tags" required>
      </div>
    </div>


    <div class="control-group pull-right">
      <button class="btn btn-warning btn-large" ng-click="cancel()">
        <i class="icon-remove"></i>
        Cancel
      </button>
      <button class="btn btn-primary btn-large" ng-click="save(article)">
        <i class="icon-ok"></i>
        Save
      </button>
    </div>

  </form>
</div>

<div class="control-group">
  <label class="control-label">Attachments</label>
  <ul>
    <li ng-repeat="image in article.images">
      <!-- <code>{{image | mdImage}}</code> -->
    </li>
  </ul>
  list attachments doc name should be slug...
  <div class="controls">
    <upload-button 
      class="btn btn-large"
      action="/api/uploads" 
      complete="uploadComplete($data)">
      <i class="icon-picture"></i>
      Upload Image
    </upload-button>
  </div>
</div>