
      <!-- NavBar -->
<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a href="/home" class="brand">Idea Blog</a>
      <ul class="nav pull-right">
        <li>
          <a ng-click="logout()">Logout</a>
        </li>
        <li><a href="/dashboard">{{user}}</a> 
        </li>
      </ul>
    </div>
  </div>
</div>

    <!-- Main Article View -->

<div class='container'>

  <h2>{{article.title}}</h2>
  <small>Published by {{article.author}} on {{article.publishedAt | date}} Tags: {{article.tags}}</small>
  <a class="pull-right" ng-href="/article/{{article._id}}/edit">
        <i class="icon-pencil"></i>
        Edit
      </a>
      <a class="pull-right" ng-click='hidePost(article)'>
        <i class="icon-trash"></i>
        Trash
      </a>
  <p class="hero-unit">{{article.body}}</p>
</div>