<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a href="/home" class="brand">Idea Blog</a>
      
      <ul class="nav pull-left">
        <li>
          <p>Search: <input ng-model="query"></p>
        </li>
      </ul>
      
      <ul class="nav pull-right">
        <li>
          <a ng-click="logout()">Logout</a>
        </li>
        <li><a>{{user}}</a> <!-- this will become a link to the user home -->
        </li>
        <li>User Img Go here
        </li>
      </ul>
    
    </div>
  </div>
</div>
<div class="container">

    <!-- New Article Btn -->

  <a class="pull-right btn" ng-href="/article/new">
    <i class="icon-plus"></i>
    New Article
  </a>
  <h2>Dashboard</h2>
  <ul style="list-style: none;">
    <li class="media" ng-repeat="article in articles | filter:query | orderBy: publishedAt">
     
      <!-- Edit article -->
      <a class="pull-right" ng-href="/article/{{article._id}}/edit">
        <i class="icon-pencil"></i>
        Edit
      </a>

      <!-- Article link -->

      <a ng-href="/article/{{article._id}}">{{article.title}}</a>

      <!-- Pubished date and author -->

      <small>Published by (authorname will go here){{article.author}} on {{article.publishedAt | date}} Tags: {{article.tags}}</small>


      <!-- Delete Article -->
<!-- {{article}} -->
      <!-- <a class="pull-right" ng-click='removePost(article._rev , article._id)'><i class="icon-trash"></i>Delete
      </a> -->

      <!-- Hide Article -->

      <a class="pull-right" ng-click='hidePost(article)'><i class="icon-trash"></i>Hide
      </a>

      <div class='hero-unit' ng-bind-html-unsafe="article.body"></div>
    </li>
  </ul>
</div>