<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a href="/home" class="brand">Idea Blog</a>
      
      <ul class="nav pull-left">
        <li>
          <p class="searchbar">Search: <input ng-model="query"></p>
        </li>
      </ul>
      
      <ul class="nav pull-right">
        <li>
          <a ng-click="logout()">Logout</a>
        </li>
        <li><a ng-href="/dashboard">{{user}}</a>
        </li>
      </ul>
    
    </div>
  </div>
</div>
<div class="container">
  <div>
    <h3>{{user}}'s Blog</h3>
  </div>
  <article class="offset1" ng-repeat="article in articles | filter:query | orderBy: 'publishedAt' ">
    <header>
      <a href="/article/{{article._id}}"><h2>{{article.title}}</h2></a>
      <small>Published on {{article.publishedAt | date}} Tags: {{article.tags}}</small>
    </header>
    <div class="hero-unit" ng-bind-html-unsafe="article.body"></div>
  </article>
</div>