<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a href="/home" class="brand">Idea Blog</a>
      
    <!--   <ul class="nav pull-left">
        <li>
          <p>Search: <input ng-model="query"></p>
        </li>
      </ul> -->
      
      <ul class="nav pull-right">
        <li>
          <a ng-click="logout()">Logout</a>
        </li>
        <li><a>{{user}}</a> <!-- this will become a link to the user home -->
        </li>
        <li>
        </li>
      </ul>
    
    </div>
  </div>
</div>